<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Ultimate CodeX</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/6363c0f89a.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">

</head>
  <body>
    <nav class="navbar navbar-light" >
        <a class="navbar-brand text-light" href="/">Ultimate CodeX</a>
        <div class="pc-navbar navbar-items-block">
        <ul>
            <li><a class="navbar-clicks" href="/about">About</a></li>
            <li><a class="navbar-clicks" href="/contact">Contact</a></li>
            <li><a class="navbar-clicks" href="/projects">Projects</a></li>
            <li><a class="navbar-clicks" href="/blogs">Blog</a></li>

        </ul>
        </div>

        <div class="mobile-navbar">
        <div class="collapse navbar-items-block" id="navbarToggleExternalContent">
        <ul>
            <li><a class="navbar-clicks" href="/about">About</a></li>
            <li><a class="navbar-clicks" href="/contact">Contact</a></li>
            <li><a class="navbar-clicks" href="/projects">Projects</a></li>
            <li><a class="navbar-clicks" href="/blogs">Blog</a></li>

        </ul>
        </div>
        <button class="navbar-toggler navbar-list-btn" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" >
            <span class="navbar-toggler-icon"></span>
        </button>
        </div>
      </nav>
