<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Ultimate CodeX</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <script src="https://kit.fontawesome.com/6363c0f89a.js" crossorigin="anonymous"></script>

<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">

</head>
  <body>
    <div id="header-section">
      <nav class="tablet-bigger container d-flex flex-column flex-md-row justify-content-around ">

        <a class="py-4 d-none d-md-inline" href="#"><img src="/images/logo.png"></img></a>
        <a class="link py-4 d-none d-md-inline-block" href="/">Home</a>
        <a class="link py-4 d-none d-md-inline-block" href="/about">About</a>
        <a class="link py-4 d-none d-md-inline-block" href="/projects">Projects</a>
        <a class="link py-4 d-none d-md-inline-block" href="/blogs">Blog</a>
        <a class="link py-4 d-none d-md-inline-block" href="/contact">Contact</a>

      </nav>
    <nav class="tablet-smaller navbar navbar-expand-lg navbar-dark">

        <a class="navbar-brand" href="#"><img src="/images/logo.png"></img></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <a class="link nav-item nav-link" aria-current="page" href="/">Home</a>
              <a class="link nav-item nav-link" href="/about">About</a>
              <a class="link nav-item nav-link" href="/projects">Projects</a>
              <a class="link nav-item nav-link" href="/blogs">Blog</a>
              <a class="link nav-item nav-link" href="/contact">Contact</a>

          </div>

        </div>

  </nav>
