<%-include("partials/header")-%>

<div class="page-name p-3 text-center subheader-section">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="">Ultimate CodeX</h1>
    <p class="">Give your projects a boost with our fast and active team.</p>
    <a class="btn btn-outline-secondary" href="/about">LEARN MORE</a>
  </div>
</div>
</div>
<div class="believe-section m-5 text-center">
  <h6>WHAT WE BELIEVE IN</h6>
  <h1>We believe in the ability to take a concept and turn it into a finished project.</h1>
</div>
<div class="details-section">
  <div class="row">
    <div class="col col-lg-6 col-md-12 col-sm-12 col-12 order-1 order-sm-1 order-md-1 order-lg-2">
      <img class="details-image" src="https://img.freepik.com/free-vector/seamless-gold-rhombus-grid-pattern-black-background_53876-97589.jpg?size=626&ext=jpg">
    </div>
    <div class="col col-lg-6 col-md-12 col-sm-12 col-12 order-2 order-sm-2 order-md-2 order-lg-1">
      <h6>ABOUT</h6>
      <h1>Who we are</h1>
      <p>Nulla vel sodales tellus, quis condimentum enim. Nunc porttitor venenatis feugiat. Etiam quis faucibus erat, non accumsan leo. Aliquam erat volutpat. Vestibulum ac faucibus eros. Cras ullamcorper gravida tellus ut consequat.</p>
      <a class="btn btn-dark" href="/about">LEARN MORE</a>
    </div>

  </div>
  <div class="row">
    <div class="col col-lg-6 col-md-12 col-sm-12 col-12 order-1 order-md-1 order-sm-1 order-lg-1">
      <img class="details-image" src="https://img.freepik.com/free-vector/seamless-gold-rhombus-grid-pattern-black-background_53876-97589.jpg?size=626&ext=jpg">
    </div>
    <div class="col col-lg-6 col-md-12 col-sm-12 col-12 order-2 order-md-2 order-sm-2 order-lg-2">
      <h6>TEAM</h6>
      <h1>What we do</h1>
      <p>Nulla vel sodales tellus, quis condimentum enim. Nunc porttitor venenatis feugiat. Etiam quis faucibus erat, non accumsan leo. Aliquam erat volutpat. Vestibulum ac faucibus eros. Cras ullamcorper gravida tellus ut consequat.</p>
      <a class="btn btn-dark" href="/about">LEARN MORE</a>
    </div>
  </div>
</div>


<div class="startnow-section text-center">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class=>Grow your business.</h1>
    <p class="lead fw-normal">Today is the day to build the project that suits your needs. Share what you do with the world</p>
    <a class="btn btn-outline-secondary" href="/contact">START NOW</a>
  </div>
</div>


<%-include("partials/footer")-%>
