<%-include("partials/header")-%>

<form class="forms" action="/projects/post" method="post">
  <div class="form-group">
    <label for="inputTitle">Title</label>
    <input name="title" type="text" class="form-control" id="inputTitle"placeholder="Enter title">
  </div>
  <div class="form-group">
    <label for="inputImageURL">Image URL</label>
    <input name="imageURL" type="text" class="form-control" id="inputImageURL" placeholder="ImageURL">
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<%-include("partials/footer")-%>
