<%-include("partials/header")-%>
<div id="all-section">
<div class="all-header">
<div class="page-name text-center">
  <div class="">
    <h1 class="">OUR PROJECTS</h1>
  </div>
</div>
</div>
</div>
<div class="projects-section row">
  <%posts.forEach(function(post){%>
    <div class="col-lg-4 col-12 projects-col" align="center">
      <div style="background-image:url('/images/MacFrame.png');" class="projects-frame">
        <img class="projects-image" src="<%=post.imageURL%>">
      </div>
      <h3><%=post.title%></h3>
    </div>
  <%});%>
</div>
<%-include("partials/footer")-%>
