
.forms{
  padding-top: 200px;
  margin: 0 20%;
}
h6{
  color:#dfa667;
  font-family: sans-serif;
  font-weight: 550;
}
p{
  opacity: 0.5;
}
h1{
  font-family: 'Source Sans Pro';
  font-weight: 900;
}

/* Navigation Bar */
ul {
  margin: 20px auto 0;
  padding: 0;
  list-style: none;
  display: table;
  width: 600px;
  text-align: center;
}
li {
  display: table-cell;
  position: relative;
  padding: 15px 0;
}
.navbar-clicks {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Source Sans Pro';
  font-weight: 900;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.navbar-clicks:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbar-clicks:hover:after {
  width: 100%;
  left: 0;
}
.navbar-clicks:hover{
  text-decoration-line: none;
  color:white;
}
.navbar{
  z-index: 1;
  padding:0 0 0.5rem;
  background-color: black;
  position: fixed;
  width: 100%;
}
.navbar-brand{
  font-family: 'Rajdhani';
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.15em;
  padding: 15px 20px;
}

.navbar-items-block{
  margin-right: 20px;
}
.mobile-navbar{
  display: none;
}






/* ___________________Home Page_______________________ */

/* ___________________Home Section_______________________ */
#home-section{
  background-color: #000000;
  height: 600px;
  background-image: url("https://www.transparenttextures.com/patterns/argyle.png");
  font-family:'Rajdhani', sans-serif;
  font-weight: 100;
  letter-spacing: 0.15rem;
  color: white;

}
.home-header{
  position: relative;
  top: 50%;
  text-align: center;
}
.page-name h1{
  font-size: 30px;
  font-family:'Rajdhani', sans-serif;
}

/* ___________________Believe Section_______________________ */

.believe-section h1{
    font-size: 30px;
    padding:0 25%;
    margin-top: 50px;
}

/* ___________________Details Section_______________________ */
.details-section{
  padding:7% 0;
  border: 1px solid rgba(0,0,0,0.2) ;
  border-left: none;
  border-right: none;
  margin: 1% 20% 5%;
}

.col{

  padding: 5%;
}
.details-image{
  width: 100%;
  height: 100%;
}


/* ___________________Startnow Section_______________________ */

.startnow-section{
  background-color: #F6F6F6;
  width: 100%;
  padding:50px;
  margin-bottom: 200px;
}

/* ___________________About Page_______________________ */

/* ___________________About Section_______________________ */
#all-section{
  background-color: #000000;
  height: 400px;
  background-image: url("https://www.transparenttextures.com/patterns/argyle.png");
  font-family:'Rajdhani', sans-serif;
  font-weight: 100;
  letter-spacing: 0.15rem;
  color: white;
}
.all-header{
  position: relative;
  top: 50%;
  text-align: center;
}
.about-section{

  margin: 3% 20%;
}
.about-section h1{
  font-size: 30px;
}
.about-section h1{
  font-size: 28px;
}
.about-section h3{
 font-family: 'Source Sans Pro';
 font-size: 17px;
}
.about-section i,h3{
 margin-bottom: 20px;
}
.about-section p{
  font-family: 'Source Sans Pro';
  font-weight: 900;
  font-size: 13px;
}
.about-choose{
  background-color: black;
  margin-bottom: 200px;
}
.about-choose h1{
  color: white;
  font-size:30px;
}


/* ___________________Contact Page_______________________ */
/* ___________________Contact Section_______________________ */
.contact-section{
  margin: 5% 20% 15%;
}
.contact-section h1{
  font-size: 23px;
  margin-bottom: 50px;
}
.form-button{
  color: white;
  background-color: #dfa667;
}
.contact-section p{
  font-size: 12px;
}



/* ___________________Projects Page_______________________ */
/* ___________________Project Section_______________________ */
.projects-section{
  margin: 5% 10% 15%;
  text-align: center;
}
.projects-section h3{
  margin-top: 50px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  letter-spacing: 0.15rem;
  font-size: 25px;
}
.projects-col{
  margin-top: 100px;
}
.projects-frame{
  background-size: cover;
  height: 100%;
  width: 80%;
  border-radius: 2%;
  position: inherit;
  bottom: 0;
  transition: 300ms ease-out;
}
.projects-frame:hover{
  position: relative;
  bottom: 10%;
}
.projects-image{
  position: relative;
  top: 7%;
  height: 100%;
  width: 100%;
  border-radius: 0% 0% 2% 2%;
}


/* ___________________Blogs Page_______________________ */
/* ___________________Blogs Section_______________________ */

.blogs-section{
  text-align: left;
  margin: 2% 0% 10%;
}
.contact-col{

}
.blogs-section h3{
  max-width: 35%;
  font-family:'Source Sans Pro';
  font-size: 20px;
  font-weight: 600;
  margin:2% 0;
}
.blogs-section span{
  margin-right: 1%;
  font-family: 'Source Sans Pro';
  color: rgba(0,0,0,0.25);
  font-size: 10px;
}
.blogs-section p{
  max-width: 35%;
  font-size: 13px;
  margin:2% 0%;
}
.blogs-section form{
  margin-bottom: 30px;
}
.blogs-col{
  margin-top: 40px;
}
.blogs-frame{
  background-size: cover;
  padding:13% 0%;
  width: 36%;
  position: inherit;
  bottom: 0;
  transition: 300ms ease-out;
}

.blog-readmore{
  margin-top: 10px;
  color: rgba(0,0,0,1);
  font-size: 9px;
  font-weight: 900;
  font-family: 'Source Sans Pro';
}
.blog-readmore:hover{
  color: black;
}


@media screen and (max-width:1440px) {

 .believe-section h1{
     padding:0 20%;
     font-size: 25px;
 }

 .about-choose h1{
   font-size:17px;
 }
 .projects-section h3{

   font-size: 20px;
 }

}
@media screen and (max-width:1024px) {
 h1{
   font-size: 30px;
 }
 .believe-section h1{
     padding:0 15%;
     font-size: 20px;
 }
 .about-choose h1{
   font-size:13px;
 }
 .page-name h1{
   font-size: 25px;
 }
 .page-name p{
   font-size: 15px;
   font-weight: 500;
 }
 .projects-section h3{
   margin-top: 20px;
   font-size: 15px;
 }
}
@media screen and (max-width:991px){

  .details-section p{
    padding: 10%;
  }

  .about-choose h1{
    font-size:14px;
  }
  .projects-frame{
    height: 290px;
    width: 350px;
    border-radius: 2%;

  }
  .projects-col{
    margin-top: 0px;
  }
  .projects-image{
    position: relative;
    top: 7%;
    height: 270px;
    width: 350px;
    border-radius: 2%;
  }

  .blogs-section span{
    margin-right: 1%;
    font-family: 'Source Sans Pro';
    color: rgba(0,0,0,0.25);
    font-size: 8px;
  }
  .blogs-section h3{
    max-width: 80%;
    font-size: 15px;
  }
  .blogs-section p{
    max-width: 75%;
    font-size: 12px;
  }
  .blogs-section form{
    margin-bottom: 30px;
  }
  .blogs-col{
    margin-top: 40px;
  }
  .blogs-frame{
    background-size: cover;
    padding:25% 0%;
    width: 80%;
    position: inherit;
    bottom: 0;
    transition: 300ms ease-out;
  }
  ul {
    width: 480px;
  }

}
@media screen and (max-width:767px) {
 h1{
   font-size: 25px;
 }
 .details-section{
   text-align: center;
 }
 h6{
   font-size: 20px;
 }

 .believe-section h1{
     padding:0 5%;
     font-size: 15px;
 }
 .tablet-bigger{
   display: none;
 }
 .tablet-smaller{
   display: inherit;
 }

 .projects-section{
   margin:5% 4%;
 }
 .projects-col{
   margin-top: 170px;
 }
 .projects-frame{
   height: 100%;
   width: 100%;
 }
 .projects-image{
   position: relative;
   top: 10%;
   height: 100%;
   width: 100%;
   border-radius: 2%;
 }
 .projects-section h3{
   margin-top: 70px;
   font-size: 25px;
 }
 .pc-navbar{
   display: none;
 }
 .mobile-navbar{
   display: inherit;
 }
 .mobile-navbar div ul li{
   list-style: inherit;
   display: table;
 }
 .navbar-list-btn{
   position: absolute;
   margin-right: 20px;
   right: 0;
   top: 10px;
   height: 40px;
   background-color: rgb(187, 187, 187);
 }
 .navbar-brand{
   font-size: 15px;
 }
 @media screen and (max-width:425px) {
  h1{
    font-size: 20px;
  }
  .believe-section h1{
      padding:0 0%;
      font-size: 15px;
  }
  h6{
    font-size: 12px;
  }
  .blogs-section h3{
    max-width: 70%;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: 600;
    margin:2% 0;
  }
